<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/PrologueCSS/Prologue_2.css">
    <title>ENG Project Game</title>
</head>
<body>

   

    <div class="Menu">


    <h1>Azubuike Tribe Falls Apart</h1>

    <div class="Choice_Box">
        
        <img class="Character_Image" src="static/Used_Images/Bahram_Character.png" alt="Description of the image">

        <p class="Character_Name"> Bahram <p>

    </div>

    <div class="Text_Box" id="textContainer">

        <p id="initialText"> Elder Azu! We've been looking all over for you! Where have you been?! <br>
            The Azuibike Village has been in chaos and the other elders can't <br>
            seem to agree! At this rate Azuibike will be in shambles. <br>

        <p id="replacementText" style="display: none;"> No time to get confused; i'm sure we'll have time to talk again <br>
            but right now you've got alot of work to do. <br>
            May Esu bring you fortune, Elder.

            
    </div>

    <form action="{{ url_for('Game_Section_1') }}" method="get">
        <button class="Start" id="continue-button" style="display: none;">Let's Get Started!</button>
    </form>
    

    <form action="{{ url_for('home') }}" method="get">
        <button class="Quit_Text" type="submit">Quit</button>
    </form>

    </div>



    <script>
        // Wait for 3 seconds (3000 milliseconds) and then replace the text
        setTimeout(function() {
            // Hide the initial text
            document.getElementById('initialText').style.display = 'none';
            // Show the replacement text
            document.getElementById('replacementText').style.display = 'block';

            document.getElementById('continue-button').style.display = 'block';
        }, 6000); // Adjust the time delay (in milliseconds) as needed
    </script>
    

</body>
</html>